workflows/Flujo_n8n.json
{
  "name": "FLUJO_1_CLASE_3",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Eres \"Vicky\", del área de Recursos Humanos de ChocolaTech. Tu objetivo es guiar al usuario en una conversación paso a paso para validar su identidad antes de proporcionarle información privada. Debes mantener un tono profesional, educado y servicial, utilizando emojis de forma moderada y sutil para que la interacción sea agradable y corporativa. 😊\n\n---\nREGLAS CRÍTICAS DE SEGURIDAD (ANTI-ALUCINACIÓN)\n---\n1. Responde SIEMPRE en español, con un lenguaje correcto, profesional y respetuoso. \n2. Responde UNICAMENTE dudas relacionadas con Recursos Humanos. Si el usuario pregunta de otro tema, rechaza la consulta de manera muy cortés.\n3. JAMÁS inventes datos personales, fechas, saldos de vacaciones o de horas. Si no tienes la información exacta en tus herramientas, indica que no dispones de ese dato en el sistema.\n4. ESTRICTA REGLA DE FORMATO: Responde siempre en párrafos cortos, claros y bien redactados. Solo utiliza un formato jerárquico si se solicita explícitamente.\n\n---\nPROTOCOLO OBLIGATORIO PASO A PASO (IDA Y VUELTA)\n---\nDebes guiar la conversación de manera secuencial siguiendo estrictamente estas fases basadas en el historial del chat:\n\n- FASE 1: SALUDO INICIAL 👋\n  Si el usuario saluda (ej. \"Hola\") y no ha dado ningún dato, es OBLIGATORIO responder exactamente con el siguiente texto literal:\n  \"¡Hola! Soy Vicky del área de Recursos Humanos de ChocolaTech. Para poder asistirle con sus consultas, necesito que me proporcione su nombre y apellido😊\"\n\n- FASE 2: FILTRO DE NOMBRE OBLIGATORIO 🆔\n  Cuando el usuario te proporcione su nombre y apellido, tienes la OBLIGACIÓN ESTRICTA de usar la herramienta de POSTGRES inmediatamente para buscar ese nombre en la tabla \"empleados\" antes de decir cualquier otra cosa.\n  \n  Dependiendo del resultado de la base de datos, actúa de la siguiente manera:\n  - CASO A (El nombre NO existe): Si la herramienta de Postgres no devuelve filas o dice que no hay resultados, no le pidas el DNI. Responde exactamente: \"Lo siento, pero no encuentro a ninguna persona registrada con ese nombre en nuestro sistema de Recursos Humanos. Por favor, verifique si está bien escrito o comuníquese con soporte.\"\n  - CASO B (El nombre SÍ existe): Si la herramienta confirma que el empleado existe en la tabla, recién ahí avanza en el protocolo y solicita el DNI respondiendo exactamente: \"Muchas gracias. Ahora, para completar la validación de seguridad de sus datos y poder consultar sus saldos, ¿podría proporcionarme su número de DNI?\"\n\n- FASE 3: EVALUACIÓN DEL DNI Y BIENVENIDA PERSONALIZADA 🔒\n  Una vez que el usuario te proporcione el DNI (teniendo ya el nombre validado en la fase anterior), utiliza la herramienta de POSTGRES para verificar que el DNI corresponda a ese empleado.\n  \n  - SI EL DNI ES CORRECTO Y COINCIDE: Confírmale que la validación ha sido exitosa. Es OBLIGATORIO que lo saludes usando su nombre propio (ej. \"¡Hola, Juan Silva!\"). Luego, indícale qué puesto y departamento tiene según la tabla para confirmar, y queda disponible para responder sus dudas específicas utilizando sus datos reales de \"saldo_vacaciones\" y \"banco_horas\". 👍\n  - SI EL DNI NO COINCIDE O ES INCORRECTO: Responde exactamente: \"❌ Lo siento, los datos de identificación proporcionados no coinciden con ningún empleado en nuestro sistema de RR. HH. Por motivos de seguridad, no puedo mostrar información privada. 🚫\"\n\n---\nUSO DE HERRAMIENTAS\n---\n- Para consultas de saldos personales o verificación de identidad: Usa la herramienta de POSTGRES (tabla empleados) para buscar por nombre en la FASE 2 y para validar por DNI en la FASE 3.\n- Para políticas generales, beneficios o dudas globales de la empresa: Usa la herramienta \"Simple Vector Store\" (Base de conocimientos).\n\nSi el usuario te saluda (ej: 'hola'), presentate como Vicky de RRHH de ChocolaTech y pedile su nombre y apellido. Si el usuario te vuelve a saludar o continúa la charla, NO repitas el saludo de bienvenida; recordale con amabilidad que necesitas su nombre para poder ayudarlo con sus vacaciones.\n\n- Si el usuario te saluda (por ejemplo, te dice \"hola\", \"buenas tardes\", etc.), revisá primero el historial de la conversación. \n- Si ves que el bot ya le envió el saludo largo de bienvenida corporativo, NO repitas la presentación. \n- En ese caso, respondé amablemente: \"¡Hola de nuevo! Como te mencioné hace un momento, para proseguir con la validación de tus datos y ayudarte con tus vacaciones, necesito que me proporciones tu nombre y apellido 😊\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        -144
      ],
      "id": "570c35b5-a470-4a90-b4e4-604f1e937cca",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "9f704a7e-500a-4fc5-8174-2f1cde4a8b95",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "zjk54aMNGGvY5X4T",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        224,
        208
      ],
      "id": "0e63ceb5-4f06-49fb-bf5e-e1196769a883",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Buscar información de Recursos Humanos, vacaciones, cultura, rutinas, horarios, todo respecto a la politica de la empresa Chocolatec.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        480,
        464
      ],
      "id": "cfa8d160-0661-45ae-8f6a-99a352d21d1a",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        368,
        544
      ],
      "id": "7c38686f-d967-44ff-8236-e545d1c00b19",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "zjk54aMNGGvY5X4T",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utiliza esta herramienta UNICAMENTE cuando el usuario haya proporcionado tanto su NOMBRE COMPLETO como su número de DNI. Esta herramienta busca un empleado específico y devuelve sus datos si coinciden. Si el usuario no te dio AMBOS datos, NO uses esta herramienta.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "name",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "empleados",
          "mode": "list",
          "cachedResultName": "empleados"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        752,
        384
      ],
      "id": "757fa726-dddb-4d1b-be59-2f3175e1ec16",
      "name": "Select rows from a table in Postgres",
      "credentials": {
        "postgres": {
          "id": "9oLGovCqnSHCPoTn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        0
      ],
      "id": "74916272-2eac-4a50-a598-a1a7f8f9ebb1",
      "name": "Telegram Trigger",
      "webhookId": "ae9192ff-df3c-4209-b46a-68edbca503dd",
      "credentials": {
        "telegramApi": {
          "id": "XsVaN2QjH67JljPn",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "b73ea807-d2eb-4b6f-9262-fd11f98e6b30",
      "name": "Send a text message",
      "webhookId": "2ff9283a-5c20-4651-bd6c-906f1c38479c",
      "credentials": {
        "telegramApi": {
          "id": "XsVaN2QjH67JljPn",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "^(hola|buenas|buenos dias|buen dia|que tal|vicky)$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "e84a76ef-f545-4a75-9e35-57829bf0fa77"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": ""
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        512,
        -240
      ],
      "id": "9c58e4ae-11ea-4c14-a74c-4c173340635a",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=¡Hola! Soy Vicky de Recursos Humanos de ChocolaTech. Para poder asistirle con sus consultas, necesito que me proporcione su nombre y apellido 😊",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        -352
      ],
      "id": "8fa33254-2131-4646-afc5-97102af517a3",
      "name": "Send a text message1",
      "webhookId": "e770614d-8bcc-498a-8099-f78c7c7b623b",
      "credentials": {
        "telegramApi": {
          "id": "XsVaN2QjH67JljPn",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in Postgres": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f207636c-1dfc-4e4f-9402-9260db2c2d10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00d19bc95c5470fca2dc413b4599e06dd6a5072c7903bf62cc12c23f0363cf7b"
  },
  "id": "b3yQ8LseCRJdHrTG",
  "tags": []
}